$bg-danger: rgb(124, 18, 18);

$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;

$d-flex: flex;
$d-block: block;

$justify-content: flex-end;
$justify-items: center;

$list-style: none;

$width: 80%;
$padding: 10px;
$border-radius: 10px;
$margin-right: 10px;

.container-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.container-grid img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

@for $i from 2 to 5 {
  h#{$i} {
    font-size: 1rem * $i;
  }
}
