h2 {
  background-color: rgb(148, 40, 40);
  background-position: center;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  padding: 2rem 0;
}

h3 {
  background-color: rgb(148, 40, 40);
  background-position: center;
  text-align: center;
  font-size: 5rem;
  color: whitesmoke;
  padding: 2rem 0;
}
